.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.stars{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

svg {
  height: 4rem;
  width: 4rem;
  color: #e4e5e9;
}

input[type="radio"]{
  display: none;
}

label{
  cursor: pointer;
}

.eachStar{
  transition: all .2s ease-in-out;
}

.eachStar:hover{
  transform: scale(1.1);
  color: #19d860;
}


